
path.departamentos_SV {
  fill: #424242;
  stroke: #ffffff;
  transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;

}

path.departamentos_SV:hover {
  fill: #6e6e6e;
  stroke: #0984e3;
  transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
}

