@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
  
  
}
body{
    background-color: skyblue;
}
h1{
    text-align: center;
}
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
   order: 2px solid black;
  border-top-left-radius: 1em 1em; 
  border-top-right-radius: 1em 1em; 
  
}
nav ul li {
  float: left;
  margin-right: 0.5em;
  
}
nav ul li a {
  padding: 0.25em 1em;
  text-decoration: none; 
  background-color: #EBF5FF; 
  color: #000000; 
  border: 2px solid black;
  border-top-left-radius: 1em 1em; 
  border-top-right-radius: 1em 1em; 
  border-bottom-left-radius: 1em 1em;
  border-bottom-right-radius: 1em 1em;
}
nav ul li a:hover, nav ul li a:focus {
  color: rgb(252, 252, 252);
  background-color: rgb(39, 16, 167);
  font-weight: bold;
}

.navbar-nav{
  margin-left: 34%;
}
   
    
    .title{
      text-align: center;
      font-size: 48px;
      color: white;
      margin-top: 100px;
      font-weight: 100;
    }

    .container{
      width: 100%;
      
      height: 100%;
      margin: 1em auto;

    display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 40px;
    
      margin: auto;
    }

    .container .card{
      width: 330px;
      height: 450px;
      background-color: blue;
      border-radius: 8px;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      margin: 20px;
      text-align: center;
      transition: all 0.25;

    }
   
    .container .card:hover{
      transform: translateY(-15px);
      box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);

    }

    .container .card img{
      width: 330px;
      height: 220px;
    }

    .container .card h4{
      font-weight: 600;
      color: white;
    }

    .container .card p{
      padding: 0 1rem;
      font-size: 16px;
      font-weight: 300;
      color: white;
    }
    
    .container .card a{
      font-weight: 500;
      text-decoration: none;
      color: #3498db
    }

    article{
      border: 1px solid #000000;
      margin: 20px;
      padding: 20px;
    }
    .meta{
      font-size: 14px;
      color: gray;
    }

    button.accordion {
    background-color: #424242;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #6e6e6e;
}

button.accordion:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796";
}

div.panel {
    padding: 0 18px;
    background-color: skyblue;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}

div.panel.show {
    opacity: 1;
    max-height: 500px;
}

    

   
